@media screen and (max-width: 768px) {
  /*Main content*/
  /* line 3, ../sass/dcm2017-responsive.scss */
  .main-container {
    width: 100%;
  }

  /*End Main content*/
  /*Footer*/
  /* line 11, ../sass/dcm2017-responsive.scss */
  footer.footer #dcm2017-footer .footer-copy {
    position: absolute;
    right: inherit;
    top: inherit;
    padding: 15px;
    height: 50%;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    bottom: 0;
  }

  /*End Footer*/
}
@media screen and (max-width: 320px) {
  /*Generic*/
  /* line 29, ../sass/dcm2017-responsive.scss */
  body {
    min-width: 320px;
  }

  /*End Generic*/
}
