/*Variables*/
/*End Variables*/
/*Fonts*/
/*New fonts - Homepage redesign*/
@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/proximanova-reg-webfont.woff");
  src: url("../fonts/proximanova-reg-webfont.eot");
  src: url("../fonts/proximanova-reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-reg-webfont.ttf") format("truetype"), url("../fonts/proximanova-reg-webfont.woff") format("woff"), url("../fonts/proximanova-reg-webfont.svg") format("svg");
}
@font-face {
  font-family: 'Proxima Nova Lt';
  src: url("../fonts/proximanova-sbold-webfont.woff");
  src: url("../fonts/proximanova-sbold-webfont.eot");
  src: url("../fonts/proximanova-sbold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-sbold-webfont.ttf") format("truetype"), url("../fonts/proximanova-sbold-webfont.woff") format("woff"), url("../fonts/proximanova-sbold-webfont.svg") format("svg");
}
/*End Fonts*/
/*Generic css*/
/*Body & Other general elements*/
/* line 5, ../sass/dcm2017.scss */
body {
  border: 0 none;
  color: #333;
  font-family: "Proxima Nova Rg";
  font-size: 14px;
  line-height: 19px;
  margin: 0;
  padding: 0;
}
/* line 13, ../sass/dcm2017.scss */
body div * {
  outline: none;
}

/* line 17, ../sass/dcm2017.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin: 0 0 15px;
}

/* line 21, ../sass/dcm2017.scss */
h1, .h1 {
  font-size: 30px;
  line-height: 30px;
}

/* line 25, ../sass/dcm2017.scss */
h2, .h2 {
  font-size: 25px;
  line-height: 25px;
}

/* line 29, ../sass/dcm2017.scss */
h3, .h3 {
  font-size: 20px;
  line-height: 20px;
}

/* line 33, ../sass/dcm2017.scss */
h4, .h4 {
  font-size: 18px;
  line-height: 20px;
}

/* line 37, ../sass/dcm2017.scss */
h5, .h5 {
  font-size: 16px;
  line-height: 18px;
}

/* line 41, ../sass/dcm2017.scss */
h4, .h4 {
  font-size: 14px;
  line-height: 16px;
}

/* line 45, ../sass/dcm2017.scss */
p {
  margin: 0 0 10px;
}

/* line 48, ../sass/dcm2017.scss */
a:hover, a:focus {
  background: transparent;
  color: #000;
  text-decoration: none;
  outline: 0;
}

/* line 54, ../sass/dcm2017.scss */
a {
  color: #2aa9de;
  text-decoration: none;
  outline: 0;
  transition: all 0.5s linear 0s;
}
/* line 59, ../sass/dcm2017.scss */
a img {
  border: 0;
  outline: 0;
}

/* line 64, ../sass/dcm2017.scss */
div.warning, table tr.warning {
  white-space: normal;
}

/* line 67, ../sass/dcm2017.scss */
.element-invisible {
  display: none;
}

/* line 70, ../sass/dcm2017.scss */
ul, .block ul, ol {
  margin: 0.5em 0 1em;
  padding: 0 0 0 1.0em;
}
/* line 73, ../sass/dcm2017.scss */
ul li, ul li.leaf, .block ul li, .block ul li.leaf, ol li, ol li.leaf {
  display: list-item;
  list-style-image: none;
  list-style-type: disc;
  margin: 0;
  padding: 0 0 5px;
}

/* line 81, ../sass/dcm2017.scss */
ul.list-inline {
  margin: 0.5em 0 1em;
  padding: 0 0 0 1.0em;
}
/* line 84, ../sass/dcm2017.scss */
ul.list-inline li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
  list-style-image: none;
}

/* line 92, ../sass/dcm2017.scss */
.pagination > li {
  display: inline;
}

/* line 95, ../sass/dcm2017.scss */
.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}

/* line 98, ../sass/dcm2017.scss */
ul.contextual-links, .block ul.contextual-links, ol.contextual-links {
  margin: 0;
  padding: 0;
}
/* line 101, ../sass/dcm2017.scss */
ul.contextual-links li, ul.contextual-links li.leaf, .block ul.contextual-links li, .block ul.contextual-links li.leaf, ol.contextual-links li, ol.contextual-links li.leaf {
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 108, ../sass/dcm2017.scss */
ul.tabs.primary {
  white-space: normal;
}

/* line 111, ../sass/dcm2017.scss */
.tabs--primary.nav.nav-tabs {
  margin: 0 0 15px;
}
/* line 113, ../sass/dcm2017.scss */
.tabs--primary.nav.nav-tabs li {
  padding: 0;
}
/* line 115, ../sass/dcm2017.scss */
.tabs--primary.nav.nav-tabs li a {
  padding: 5px 10px;
}

/* line 120, ../sass/dcm2017.scss */
table {
  border: 0;
}
/* line 122, ../sass/dcm2017.scss */
table tbody {
  border: 0;
}
/* line 125, ../sass/dcm2017.scss */
table tbody tr th {
  border: 0;
  border-right: 1px solid #ddd;
  background-color: #eee;
  color: #000;
  font-weight: 600;
  font-size: 14px;
  padding: 8px;
}
/* line 133, ../sass/dcm2017.scss */
table tbody tr th:last-child {
  border-right: 0;
}
/* line 137, ../sass/dcm2017.scss */
table tbody tr td {
  border: 1px solid #ddd;
  color: #000;
  font-weight: normal;
  padding: 8px;
}
/* line 142, ../sass/dcm2017.scss */
table tbody tr td:first-child {
  border-left: 0;
}
/* line 145, ../sass/dcm2017.scss */
table tbody tr td:last-child {
  border-right: 0;
}
/* line 150, ../sass/dcm2017.scss */
table tbody tr:last-child td {
  border-bottom: 0;
}

/* line 157, ../sass/dcm2017.scss */
.label {
  color: #000;
  font-size: 14px;
  padding: 0;
  text-align: left;
}

/*End Body & Other general elements*/
/*Header*/
/* line 166, ../sass/dcm2017.scss */
header.container, .navbar.container {
  width: 100%;
  max-width: inherit;
  border: 0;
  border-radius: 0;
  z-index: 2;
}

/* line 173, ../sass/dcm2017.scss */
.path-frontpage header#navbar {
  background-image: url(../images/screen-4.jpg);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 85vh;
  padding: 0;
}
/* line 181, ../sass/dcm2017.scss */
.path-frontpage header#navbar .navbar-header {
  float: none;
  max-width: inherit;
  margin: 0;
}
/* line 185, ../sass/dcm2017.scss */
.path-frontpage header#navbar .navbar-header .logo {
  float: none !important;
  display: table;
  text-align: center;
  margin: auto;
}
/* line 190, ../sass/dcm2017.scss */
.path-frontpage header#navbar .navbar-header .logo img {
  width: 200px;
}
/* line 194, ../sass/dcm2017.scss */
.path-frontpage header#navbar .navbar-header #dcm-sticky-menu {
  clear: both;
  position: static;
}
/* line 197, ../sass/dcm2017.scss */
.path-frontpage header#navbar .navbar-header #dcm-sticky-menu nav {
  border-bottom: 1px dashed #fff;
  border-top: 1px dashed #fff;
  margin: 25px 0;
}

/* line 205, ../sass/dcm2017.scss */
header#navbar {
  background-image: url(../images/screen-4.jpg);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 120px;
  margin-bottom: 0;
}
/* line 213, ../sass/dcm2017.scss */
header#navbar .navbar-header {
  float: none;
  max-width: 960px;
  margin: 0 auto;
}
/* line 217, ../sass/dcm2017.scss */
header#navbar .navbar-header .logo {
  float: left !important;
  display: block;
  z-index: 1;
  position: relative;
}
/* line 222, ../sass/dcm2017.scss */
header#navbar .navbar-header .logo img {
  width: 140px;
}
/* line 226, ../sass/dcm2017.scss */
header#navbar .navbar-header #dcm-sticky-menu {
  clear: none;
  width: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
  bottom: 0;
}
/* line 233, ../sass/dcm2017.scss */
header#navbar .navbar-header #dcm-sticky-menu nav {
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 235, ../sass/dcm2017.scss */
header#navbar .navbar-header #dcm-sticky-menu nav .menu {
  margin: 0 auto;
  transition: all 0.5s linear 0s;
  border-bottom: 0;
  border-top: 0;
  background-color: transparent;
  width: 960px;
  text-align: right;
}
/* line 247, ../sass/dcm2017.scss */
header#navbar .slogan {
  background: transparent url("../images/bg_slogan.png") repeat scroll left top;
  border-radius: 10px;
  color: #fff;
  margin: 5px auto 0;
  padding: 30px;
  max-width: 960px;
  text-align: center;
}
/* line 255, ../sass/dcm2017.scss */
header#navbar .slogan h2 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 25px;
  line-height: 40px;
}
/* line 261, ../sass/dcm2017.scss */
header#navbar .slogan p {
  font-size: 30px;
  font-weight: 100;
}

/*End Header*/
/*Main menu*/
/* line 271, ../sass/dcm2017.scss */
header#navbar #dcm-sticky-menu {
  clear: both;
}
/* line 273, ../sass/dcm2017.scss */
header#navbar #dcm-sticky-menu .menu {
  margin: 30px 0;
  padding: 0;
  transition: all 0.5s linear 0s;
  text-align: center;
  border-bottom: 1px dashed #fff;
  border-top: 1px dashed #fff;
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 281, ../sass/dcm2017.scss */
header#navbar #dcm-sticky-menu .menu li {
  margin: 0;
  padding: 0;
  display: inline-block;
}
/* line 286, ../sass/dcm2017.scss */
header#navbar #dcm-sticky-menu .menu li.open a {
  color: #fef5cc;
  background-color: transparent;
}
/* line 291, ../sass/dcm2017.scss */
header#navbar #dcm-sticky-menu .menu li a {
  text-transform: uppercase;
  color: #fff;
  transition: all 0.3s linear 0s;
  font-family: "Proxima Nova Lt";
  font-size: 16px;
  position: relative;
  display: block;
}
/* line 299, ../sass/dcm2017.scss */
header#navbar #dcm-sticky-menu .menu li a:hover, header#navbar #dcm-sticky-menu .menu li a.is-active {
  color: #fef5cc;
  border-color: #fef5cc;
  transition: all 0.3s linear 0s;
}
/* line 303, ../sass/dcm2017.scss */
header#navbar #dcm-sticky-menu .menu li a:hover:before, header#navbar #dcm-sticky-menu .menu li a.is-active:before {
  right: 0;
}
/* line 307, ../sass/dcm2017.scss */
header#navbar #dcm-sticky-menu .menu li a:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #fef5cc;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 324, ../sass/dcm2017.scss */
header#navbar #dcm-sticky-menu .menu li .menu.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.56);
  width: auto;
  border-radius: 0;
  text-align: left;
}
/* line 329, ../sass/dcm2017.scss */
header#navbar #dcm-sticky-menu .menu li .menu.dropdown-menu li {
  display: block;
}
/* line 332, ../sass/dcm2017.scss */
header#navbar #dcm-sticky-menu .menu li .menu.dropdown-menu li:last-child a {
  border-bottom: 0;
}
/* line 336, ../sass/dcm2017.scss */
header#navbar #dcm-sticky-menu .menu li .menu.dropdown-menu li a {
  border-bottom: 1px dashed #eee;
  padding: 10px 15px;
  color: #fff;
}
/* line 340, ../sass/dcm2017.scss */
header#navbar #dcm-sticky-menu .menu li .menu.dropdown-menu li a:hover, header#navbar #dcm-sticky-menu .menu li .menu.dropdown-menu li a.is-active {
  color: #fef5cc;
  background-color: transparent;
}
/* line 343, ../sass/dcm2017.scss */
header#navbar #dcm-sticky-menu .menu li .menu.dropdown-menu li a:hover:before, header#navbar #dcm-sticky-menu .menu li .menu.dropdown-menu li a.is-active:before {
  display: none;
}

/*End Main menu*/
/*Main content*/
/* line 357, ../sass/dcm2017.scss */
.main-container {
  background-color: rgba(255, 255, 255, 0.9);
  border: 0 none;
  margin: 0 auto;
  min-height: 550px;
  max-width: 960px;
  width: 960px;
}
/* line 364, ../sass/dcm2017.scss */
.main-container .close {
  line-height: 0.5;
}
/* line 367, ../sass/dcm2017.scss */
.main-container .region-content {
  margin: 20px 0 0;
}

/*End Main content*/
/*sidebars*/
/* line 374, ../sass/dcm2017.scss */
aside, .sidebar {
  margin: 0;
  padding: 0;
}
/* line 377, ../sass/dcm2017.scss */
aside h2.block-title, .sidebar h2.block-title {
  background: transparent none repeat scroll 0 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  margin: 0 0 14px;
  padding: 0;
  text-transform: capitalize;
}
/* line 386, ../sass/dcm2017.scss */
aside .block, .sidebar .block {
  margin: 0 0 20px;
}

/* line 418, ../sass/dcm2017.scss */
.no-sidebars #content, .no-sidebars .col-sm-12 {
  padding: 0;
}

/* line 422, ../sass/dcm2017.scss */
.well {
  background-color: transparent;
  border: 0 none;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  padding: 0;
}

/*end sidebars*/
/*Node*/
/* line 433, ../sass/dcm2017.scss */
.node {
  border: 0;
  margin: 0;
  padding: 0;
}
/* line 437, ../sass/dcm2017.scss */
.node .content, .node .comment .content {
  margin: 0;
}

/* line 441, ../sass/dcm2017.scss */
.field .field-label, label {
  font-weight: 500;
  font-size: 14px;
}

/* line 445, ../sass/dcm2017.scss */
.row {
  margin-left: 0;
  margin-right: 0;
}

/* line 449, ../sass/dcm2017.scss */
.breadcrumb {
  background-color: transparent;
  border-radius: 0;
  margin-bottom: 0;
  padding: 0;
}

/*End Node*/
/*Homepage*/
/* line 459, ../sass/dcm2017.scss */
.path-frontpage .page-header {
  display: none;
}
/* line 462, ../sass/dcm2017.scss */
.path-frontpage .main-container {
  width: 100%;
  max-width: inherit;
  padding-left: 0;
  padding-right: 0;
}
/* line 467, ../sass/dcm2017.scss */
.path-frontpage .main-container .col-sm-12[role="heading"] {
  box-shadow: inset 0px 11px 8px -5px #cccccc,inset 0px -11px 8px -5px #dddddd;
  padding: 30px 0 20px;
}
/* line 471, ../sass/dcm2017.scss */
.path-frontpage .main-container .region-header {
  max-width: 960px;
  margin: 0 auto;
}
/* line 475, ../sass/dcm2017.scss */
.path-frontpage .main-container #middle-content {
  background-color: rgba(241, 241, 241, 0.5);
}
/* line 477, ../sass/dcm2017.scss */
.path-frontpage .main-container #middle-content .region-content {
  width: 960px;
  margin: 0 auto;
  padding: 30px 0;
}
/* line 481, ../sass/dcm2017.scss */
.path-frontpage .main-container #middle-content .region-content .block {
  margin: 0 0 20px;
}
/* line 487, ../sass/dcm2017.scss */
.path-frontpage footer.footer {
  margin-top: 0;
}

/*Banner slideshow*/
/* line 493, ../sass/dcm2017.scss */
#block-dcm2017-views-block-banner-block-1 .view-banner {
  overflow: hidden;
}
/* line 495, ../sass/dcm2017.scss */
#block-dcm2017-views-block-banner-block-1 .view-banner .views_slideshow_controls_text {
  position: absolute;
  top: 44%;
  width: 100%;
  z-index: 10;
  box-sizing: border-box;
}
/* line 502, ../sass/dcm2017.scss */
#block-dcm2017-views-block-banner-block-1 .view-banner .views_slideshow_controls_text .views_slideshow_controls_text_previous a {
  display: inline-block;
  position: absolute;
  left: 0;
  z-index: 100;
  text-indent: -9999px;
  transition: all 0.2s linear 0s;
}
/* line 509, ../sass/dcm2017.scss */
#block-dcm2017-views-block-banner-block-1 .view-banner .views_slideshow_controls_text .views_slideshow_controls_text_previous a:hover {
  left: -5px;
}
/* line 511, ../sass/dcm2017.scss */
#block-dcm2017-views-block-banner-block-1 .view-banner .views_slideshow_controls_text .views_slideshow_controls_text_previous a:hover:before {
  border-color: #000;
}
/* line 515, ../sass/dcm2017.scss */
#block-dcm2017-views-block-banner-block-1 .view-banner .views_slideshow_controls_text .views_slideshow_controls_text_previous a:before {
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  content: "";
  display: inline-block;
  height: 1.7em;
  left: 20px;
  margin: 3px 0 0 5px;
  position: absolute;
  top: 8px;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transition: all 0.2s ease-in-out 0s;
  width: 1.7em;
}
/* line 535, ../sass/dcm2017.scss */
#block-dcm2017-views-block-banner-block-1 .view-banner .views_slideshow_controls_text .views_slideshow_controls_text_pause {
  display: none;
}
/* line 539, ../sass/dcm2017.scss */
#block-dcm2017-views-block-banner-block-1 .view-banner .views_slideshow_controls_text .views_slideshow_controls_text_next a {
  display: inline-block;
  right: 0;
  position: absolute;
  z-index: 100;
  text-indent: -9999px;
  transition: all 0.2s linear 0s;
}
/* line 546, ../sass/dcm2017.scss */
#block-dcm2017-views-block-banner-block-1 .view-banner .views_slideshow_controls_text .views_slideshow_controls_text_next a:hover {
  right: -5px;
}
/* line 548, ../sass/dcm2017.scss */
#block-dcm2017-views-block-banner-block-1 .view-banner .views_slideshow_controls_text .views_slideshow_controls_text_next a:hover:before {
  border-color: #000;
}
/* line 552, ../sass/dcm2017.scss */
#block-dcm2017-views-block-banner-block-1 .view-banner .views_slideshow_controls_text .views_slideshow_controls_text_next a:before {
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  content: "";
  display: inline-block;
  height: 1.7em;
  right: 20px;
  margin: 3px 0 0 5px;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transition: all 0.2s ease-in-out 0s;
  width: 1.7em;
}

/*End Banner slideshow*/
/*Count down timer*/
/* line 578, ../sass/dcm2017.scss */
#block-dcm2017-countdowntimer .countdownHolder, #block-countdowntimer-2 .countdownHolder {
  font: 40px/1.5 '$proxima-regular',sans-serif !important;
  text-align: center;
}
/* line 582, ../sass/dcm2017.scss */
#block-dcm2017-countdowntimer #jquery-countdown-timer-note, #block-countdowntimer-2 #jquery-countdown-timer-note {
  display: none;
}

/*End Count down timer*/
/*Sponsors*/
/* line 589, ../sass/dcm2017.scss */
.block-views-blocksponsors-platinum-sponsors .block-title, .block-views-blocksponsors-gold-sponsors .block-title {
  padding: 0 0 10px;
  text-align: center;
  line-height: 100%;
  margin: 0;
  color: #2aa9de;
}
/* line 595, ../sass/dcm2017.scss */
.block-views-blocksponsors-platinum-sponsors .block-title:before, .block-views-blocksponsors-gold-sponsors .block-title:before {
  content: '';
  width: 100px;
  display: inline-block;
  height: 2px;
  background-color: #2aa9de;
  position: absolute;
  margin: 10px 0 0 -110px;
}
/* line 604, ../sass/dcm2017.scss */
.block-views-blocksponsors-platinum-sponsors .block-title:after, .block-views-blocksponsors-gold-sponsors .block-title:after {
  content: '';
  width: 100px;
  display: inline-block;
  height: 2px;
  background-color: #2aa9de;
  position: absolute;
  margin: 12px 0 0 10px;
}
/* line 614, ../sass/dcm2017.scss */
.block-views-blocksponsors-platinum-sponsors .view-content, .block-views-blocksponsors-gold-sponsors .view-content {
  padding: 0;
  text-align: center;
}
/* line 617, ../sass/dcm2017.scss */
.block-views-blocksponsors-platinum-sponsors .view-content .views-row, .block-views-blocksponsors-gold-sponsors .view-content .views-row {
  display: inline-block;
  width: 25%;
  margin: 0 15px 55px 0;
  vertical-align: top;
  transition: all 0.5s linear 0s;
  background-color: rgba(160, 160, 160, 0.22);
  min-height: 120px;
  position: relative;
  border-top: 5px solid #D4AF37;
}
/* line 627, ../sass/dcm2017.scss */
.block-views-blocksponsors-platinum-sponsors .view-content .views-row:after, .block-views-blocksponsors-gold-sponsors .view-content .views-row:after {
  display: inline-block;
  content: '';
  border-right: 120px solid transparent;
  border-top: 40px solid rgba(160, 160, 160, 0.22);
  border-left: 120px solid transparent;
  content: "";
  font-size: 0;
  height: 0;
  left: 0;
  line-height: 0;
  margin-right: 7px;
  position: absolute;
  bottom: -40px;
  width: 0;
}
/* line 646, ../sass/dcm2017.scss */
.block-views-blocksponsors-platinum-sponsors .view-content .views-row:last-child, .block-views-blocksponsors-platinum-sponsors .view-content .views-row:nth-child(3n), .block-views-blocksponsors-gold-sponsors .view-content .views-row:last-child, .block-views-blocksponsors-gold-sponsors .view-content .views-row:nth-child(3n) {
  margin-right: 0;
}
/* line 649, ../sass/dcm2017.scss */
.block-views-blocksponsors-platinum-sponsors .view-content .views-row .views-field-field-sponsor-logo, .block-views-blocksponsors-gold-sponsors .view-content .views-row .views-field-field-sponsor-logo {
  display: table;
  width: 100%;
}
/* line 652, ../sass/dcm2017.scss */
.block-views-blocksponsors-platinum-sponsors .view-content .views-row .views-field-field-sponsor-logo .field-content, .block-views-blocksponsors-gold-sponsors .view-content .views-row .views-field-field-sponsor-logo .field-content {
  display: table-cell;
  vertical-align: middle;
  height: 115px;
  width: 100%;
}
/* line 658, ../sass/dcm2017.scss */
.block-views-blocksponsors-platinum-sponsors .view-content .views-row .views-field-field-sponsor-logo .img-responsive, .block-views-blocksponsors-gold-sponsors .view-content .views-row .views-field-field-sponsor-logo .img-responsive {
  margin: auto;
}

/* line 666, ../sass/dcm2017.scss */
.block-views-blocksponsors-platinum-sponsors .block-title {
  color: #c0c0c0;
}
/* line 668, ../sass/dcm2017.scss */
.block-views-blocksponsors-platinum-sponsors .block-title:before {
  background-color: #c0c0c0;
}
/* line 671, ../sass/dcm2017.scss */
.block-views-blocksponsors-platinum-sponsors .block-title:after {
  background-color: #c0c0c0;
}
/* line 676, ../sass/dcm2017.scss */
.block-views-blocksponsors-platinum-sponsors .view-content .views-row {
  border-top: 5px solid #c0c0c0;
}

/* line 682, ../sass/dcm2017.scss */
.block-views-blocksponsors-gold-sponsors .block-title {
  color: #D4AF37;
}
/* line 684, ../sass/dcm2017.scss */
.block-views-blocksponsors-gold-sponsors .block-title:before {
  background-color: #D4AF37;
}
/* line 687, ../sass/dcm2017.scss */
.block-views-blocksponsors-gold-sponsors .block-title:after {
  background-color: #D4AF37;
}

/*End Sponsors*/
/*Content*/
/* line 695, ../sass/dcm2017.scss */
.view-drupal-camp-news h3 {
  border-left: 4px solid #2aa9de;
  padding: 5px;
}
/* line 699, ../sass/dcm2017.scss */
.view-drupal-camp-news .views-row {
  margin: 0 0 20px;
  padding: 0 0 20px 20px;
  border-bottom: 1px dashed #999;
}
/* line 703, ../sass/dcm2017.scss */
.view-drupal-camp-news .views-row .news-title {
  margin: 0 0 20px;
}
/* line 705, ../sass/dcm2017.scss */
.view-drupal-camp-news .views-row .news-title a {
  font-size: 20px;
  font-family: "Proxima Nova Lt";
}
/* line 711, ../sass/dcm2017.scss */
.view-drupal-camp-news .views-row .news-body img, .view-drupal-camp-news .views-row .news-body .align-center {
  margin: 0 0 10px;
}

/*End Content*/
/*End Homepage*/
/*Volunteer*/
/* line 722, ../sass/dcm2017.scss */
.view-volunteers h3 {
  color: #2aa9de;
  padding: 10px;
  border-bottom: 2px solid;
  margin: 0 0 20px;
  font-family: "Proxima Nova Lt";
}
/* line 729, ../sass/dcm2017.scss */
.view-volunteers .views-row {
  width: 200px;
  display: inline-block;
  margin: 0 30px 20px 0;
  position: relative;
  transition: all 0.5s linear 0s;
  vertical-align: top;
}
/* line 736, ../sass/dcm2017.scss */
.view-volunteers .views-row:first-child {
  display: none;
}
/* line 744, ../sass/dcm2017.scss */
.view-volunteers .views-row .team-card {
  position: relative;
  transition: all 0.5s linear 0s;
}
/* line 747, ../sass/dcm2017.scss */
.view-volunteers .views-row .team-card:hover {
  transition: all 0.5s linear 0s;
}
/* line 749, ../sass/dcm2017.scss */
.view-volunteers .views-row .team-card:hover img {
  transform: scale(1.03);
}
/* line 752, ../sass/dcm2017.scss */
.view-volunteers .views-row .team-card:hover .card-info {
  opacity: 1;
  transform: scale(1);
  transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
}
/* line 758, ../sass/dcm2017.scss */
.view-volunteers .views-row .team-card img {
  display: block;
  transform: scale(1);
  transition: all 0.25s linear 0s;
  border-radius: 50%;
  height: 200px;
  border: 5px solid #2aa9de;
  padding: 2px;
}
/* line 767, ../sass/dcm2017.scss */
.view-volunteers .views-row .team-card .card-info {
  opacity: 0;
  position: absolute;
  left: 10px;
  top: 10px;
  text-align: center;
  border-radius: 50%;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  transform: scale(0.7);
  background-color: rgba(42, 169, 222, 0.79);
  color: #fff;
  padding: 10px 15px;
  transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* line 784, ../sass/dcm2017.scss */
.view-volunteers .views-row .team-card .card-info .pulls {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}
/* line 789, ../sass/dcm2017.scss */
.view-volunteers .views-row .team-card .card-info h4 {
  margin-bottom: 0;
}

/*End Volunteer*/
/*Attendee*/
/* line 800, ../sass/dcm2017.scss */
.view-attendees .views-row {
  width: 197px;
  display: inline-block;
  margin: 0 15px 30px 15px;
  position: relative;
  transition: all 0.5s linear 0s;
  vertical-align: top;
}
/* line 807, ../sass/dcm2017.scss */
.view-attendees .views-row:first-child {
  display: none;
}
/* line 810, ../sass/dcm2017.scss */
.view-attendees .views-row:nth-child(5n) {
  margin-right: 0;
}
/* line 813, ../sass/dcm2017.scss */
.view-attendees .views-row .team-attendees {
  position: relative;
  transition: all 0.5s linear 0s;
  box-shadow: 0 0 5px #333;
}
/* line 817, ../sass/dcm2017.scss */
.view-attendees .views-row .team-attendees:hover {
  transition: all 0.5s linear 0s;
}
/* line 819, ../sass/dcm2017.scss */
.view-attendees .views-row .team-attendees:hover .user-image {
  transition: all 0.5s linear 0s;
  border-color: transparent;
}
/* line 822, ../sass/dcm2017.scss */
.view-attendees .views-row .team-attendees:hover .user-image .border-animation {
  transition: all 0.5s linear 0s;
}
/* line 824, ../sass/dcm2017.scss */
.view-attendees .views-row .team-attendees:hover .user-image .border-animation.top-left {
  height: 100%;
  width: 2px;
}
/* line 828, ../sass/dcm2017.scss */
.view-attendees .views-row .team-attendees:hover .user-image .border-animation.top-right {
  height: 2px;
  width: 100%;
}
/* line 832, ../sass/dcm2017.scss */
.view-attendees .views-row .team-attendees:hover .user-image .border-animation.bottom-left {
  height: 2px;
  width: 100%;
}
/* line 836, ../sass/dcm2017.scss */
.view-attendees .views-row .team-attendees:hover .user-image .border-animation.bottom-right {
  height: 100%;
  width: 2px;
}
/* line 843, ../sass/dcm2017.scss */
.view-attendees .views-row .team-attendees .user-image {
  position: relative;
  border: 2px solid #fff;
}
/* line 846, ../sass/dcm2017.scss */
.view-attendees .views-row .team-attendees .user-image img {
  display: block;
  transition: all 0.25s linear 0s;
  padding: 2px;
  height: 197px;
  width: 197px;
}
/* line 853, ../sass/dcm2017.scss */
.view-attendees .views-row .team-attendees .user-image .border-animation {
  position: absolute;
  width: 0;
  height: 0;
  background-color: #2aa9de;
  transition: all 0.5s linear 0s;
}
/* line 859, ../sass/dcm2017.scss */
.view-attendees .views-row .team-attendees .user-image .border-animation.top-left {
  top: 0;
  left: -2px;
}
/* line 863, ../sass/dcm2017.scss */
.view-attendees .views-row .team-attendees .user-image .border-animation.top-right {
  top: -2px;
  right: 0;
}
/* line 867, ../sass/dcm2017.scss */
.view-attendees .views-row .team-attendees .user-image .border-animation.bottom-left {
  bottom: -2px;
  left: 0;
}
/* line 871, ../sass/dcm2017.scss */
.view-attendees .views-row .team-attendees .user-image .border-animation.bottom-right {
  bottom: 0;
  right: -2px;
}
/* line 877, ../sass/dcm2017.scss */
.view-attendees .views-row .team-attendees .user-name {
  left: 0;
  width: 100%;
  background-color: rgba(42, 169, 222, 0.79);
  color: #fff;
  padding: 10px 15px;
  transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
  bottom: 0;
}
/* line 885, ../sass/dcm2017.scss */
.view-attendees .views-row .team-attendees .user-name .attendees-name {
  font-size: 18px;
  line-height: 20px;
  margin: 0;
}
/* line 890, ../sass/dcm2017.scss */
.view-attendees .views-row .team-attendees .user-name h3 {
  margin-bottom: 0;
  font-size: 13px;
}

/*End Attendee*/
/*About mumbai*/
/* line 902, ../sass/dcm2017.scss */
.pattern .row-item {
  clear: both;
  padding: 0 0 20px;
  margin: 0 0 20px;
  overflow: hidden;
  transition: all 0.7s linear 0s;
}
/* line 910, ../sass/dcm2017.scss */
.pattern .row-item:hover .data:before {
  right: 0;
}
/* line 913, ../sass/dcm2017.scss */
.pattern .row-item:hover .data:after {
  left: 0;
}
/* line 918, ../sass/dcm2017.scss */
.pattern .row-item .img {
  border: 5px solid #2aa9de;
  position: relative;
  z-index: 1;
}
/* line 922, ../sass/dcm2017.scss */
.pattern .row-item .img img {
  width: 300px;
  height: auto;
}
/* line 927, ../sass/dcm2017.scss */
.pattern .row-item .data {
  margin: 30px 0;
  padding: 20px 0 20px 20px;
  border-top: 2px solid #2aa9de;
  border-bottom: 2px solid #2aa9de;
  transition: all 0.7s linear 0s;
  position: relative;
  z-index: 0;
}
/* line 935, ../sass/dcm2017.scss */
.pattern .row-item .data:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: rgba(2, 74, 122, 0.9);
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 951, ../sass/dcm2017.scss */
.pattern .row-item .data:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  left: 100%;
  top: 0;
  background: rgba(2, 74, 122, 0.9);
  height: 2px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 969, ../sass/dcm2017.scss */
.pattern .row-item.odd .img {
  float: right;
  margin: 0 0 10px 10px;
}
/* line 975, ../sass/dcm2017.scss */
.pattern .row-item.even .img {
  float: left;
  margin: 0 10px 10px 0;
}

/*End About mumbai*/
/*Form*/
/* line 988, ../sass/dcm2017.scss */
.main-container .region-content form .form-group {
  margin-bottom: 15px;
  clear: both;
}
/* line 992, ../sass/dcm2017.scss */
.main-container .region-content form .form-item.form-group {
  margin: 0 0 15px;
  width: auto;
}
/* line 995, ../sass/dcm2017.scss */
.main-container .region-content form .form-item.form-group .form-item {
  margin: 0;
  width: auto;
}
/* line 1000, ../sass/dcm2017.scss */
.main-container .region-content form label {
  float: left;
  margin: 8px 0;
  width: 20%;
}
/* line 1005, ../sass/dcm2017.scss */
.main-container .region-content form .form-control, .main-container .region-content form .form-select, .main-container .region-content form .input-group {
  background-color: transparent;
  display: inline-block;
  width: 54%;
}
/* line 1009, ../sass/dcm2017.scss */
.main-container .region-content form .form-control .form-autocomplete, .main-container .region-content form .form-select .form-autocomplete, .main-container .region-content form .input-group .form-autocomplete {
  width: 90%;
}
/* line 1012, ../sass/dcm2017.scss */
.main-container .region-content form .form-control .input-group-addon, .main-container .region-content form .form-select .input-group-addon, .main-container .region-content form .input-group .input-group-addon {
  padding: 7px 12px 8px;
}
/* line 1021, ../sass/dcm2017.scss */
.main-container .region-content form .fieldgroup .panel-heading {
  text-align: left;
}
/* line 1023, ../sass/dcm2017.scss */
.main-container .region-content form .fieldgroup .panel-heading .panel-title {
  font-weight: normal;
}
/* line 1028, ../sass/dcm2017.scss */
.main-container .region-content form .fieldgroup .panel-body .form-item, .main-container .region-content form .fieldgroup .fieldset-wrapper .form-item {
  margin: 0;
  width: 100%;
}
/* line 1031, ../sass/dcm2017.scss */
.main-container .region-content form .fieldgroup .panel-body .form-item label, .main-container .region-content form .fieldgroup .fieldset-wrapper .form-item label {
  margin: 5px 20px 0 0;
  display: inline-block;
  vertical-align: top;
  width: auto;
}
/* line 1038, ../sass/dcm2017.scss */
.main-container .region-content form .fieldgroup .panel-body .help-block, .main-container .region-content form .fieldgroup .fieldset-wrapper .help-block {
  display: block;
  clear: both;
  padding: 8px 0 0;
  overflow: hidden;
}
/* line 1045, ../sass/dcm2017.scss */
.main-container .region-content form .fieldgroup .container-inline-date {
  clear: none;
  float: none;
  width: 100%;
}
/* line 1049, ../sass/dcm2017.scss */
.main-container .region-content form .fieldgroup .container-inline-date .date-padding {
  display: block;
  float: none;
  padding: 0;
}
/* line 1053, ../sass/dcm2017.scss */
.main-container .region-content form .fieldgroup .container-inline-date .date-padding .form-control {
  width: 100%;
}
/* line 1057, ../sass/dcm2017.scss */
.main-container .region-content form .fieldgroup .container-inline-date input {
  width: 100%;
}
/* line 1060, ../sass/dcm2017.scss */
.main-container .region-content form .fieldgroup .container-inline-date .description {
  display: none;
}
/* line 1065, ../sass/dcm2017.scss */
.main-container .region-content form .fieldgroup .container-inline-date .form-item .form-item label {
  display: none;
}

/*End Form*/
/*Buttons & message*/
/* line 1078, ../sass/dcm2017.scss */
.btn, .btn-default {
  background: none repeat scroll 0 0 #2aa9de;
  border: 0 none;
  border-radius: 3px;
  box-shadow: none;
  color: #fff;
  font-size: 14px;
  padding: 10px 15px;
  margin: 10px 10px 10px 0;
  transition: all 0.5s linear 0s;
}
/* line 1088, ../sass/dcm2017.scss */
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn .open .dropdown-toggle.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .btn-default .open .dropdown-toggle.btn-default {
  background: none repeat scroll 0 0 #000;
  color: #fff;
}

/* line 1093, ../sass/dcm2017.scss */
.btn-default:focus, .btn-default.focus {
  transition: all 0.5s linear 0s;
  background-color: #666;
}

/* line 1097, ../sass/dcm2017.scss */
a.btn:focus, a.btn:hover {
  transition: all 0.5s linear 0s;
  background-color: #000;
}

/* line 1101, ../sass/dcm2017.scss */
div.error, table tr.error {
  background-color: transparent;
  color: #a94442;
}

/* line 1105, ../sass/dcm2017.scss */
.alert {
  padding: 8px;
}

/*End Buttons & message*/
/*Modal popup*/
/* line 1111, ../sass/dcm2017.scss */
#modalContent {
  margin-left: -1000px / 2;
  left: 50%;
}
/* line 1114, ../sass/dcm2017.scss */
#modalContent .ctools-modal-dialog {
  width: 1000px;
  border-radius: 0;
  margin: 0;
  height: 400px;
}
/* line 1119, ../sass/dcm2017.scss */
#modalContent .ctools-modal-dialog .modal-content {
  background-color: #fff;
  border: 0 none;
  border-radius: 0;
  box-shadow: none;
  margin-top: 0;
  padding: 0;
  position: relative;
}
/* line 1127, ../sass/dcm2017.scss */
#modalContent .ctools-modal-dialog .modal-content .modal-header {
  background-image: none;
  background-color: #ccc;
  border: 0 none;
  height: auto;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
}
/* line 1135, ../sass/dcm2017.scss */
#modalContent .ctools-modal-dialog .modal-content .modal-header .close {
  color: #fff;
  opacity: 1;
}
/* line 1139, ../sass/dcm2017.scss */
#modalContent .ctools-modal-dialog .modal-content .modal-header #modal-title {
  color: #fff;
  font-size: 20px;
  line-height: 22px;
  text-align: left;
}
/* line 1146, ../sass/dcm2017.scss */
#modalContent .ctools-modal-dialog .modal-content .modal-body {
  color: #333;
  height: auto;
  max-height: inherit;
  overflow-y: auto;
  padding: 10px 20px;
  position: static;
  width: 100%;
}

/* line 1158, ../sass/dcm2017.scss */
#modalBackdrop {
  background-color: #666;
}

/* line 1161, ../sass/dcm2017.scss */
.modal-open {
  overflow-y: auto;
  overflow-x: hidden;
}

/* line 1165, ../sass/dcm2017.scss */
#freeze-height {
  height: 100%;
}

/*End Modal popup*/
/*Comment form*/
/* line 1171, ../sass/dcm2017.scss */
.comment {
  background-color: transparent;
  border: 0 none;
  border-bottom: 1px solid #ccc;
  margin: 0 0 20px;
  padding: 0 10px 20px;
  word-wrap: break-word;
  background-color: transparent;
  border: 0 none;
  margin: 0 0 15px;
  padding: 0 10px 15px;
  word-wrap: break-word;
}
/* line 1183, ../sass/dcm2017.scss */
.comment .user-picture {
  float: left;
  margin: 0 15px 5px 0;
}

/* line 1188, ../sass/dcm2017.scss */
#comments {
  margin: 20px 0 0;
}
/* line 1190, ../sass/dcm2017.scss */
#comments .comment {
  background-color: #f9f9f9;
  border-left: 1px solid #ccc;
  padding-left: 15px;
  padding-top: 10px;
}
/* line 1193, ../sass/dcm2017.scss */
#comments .comment .links.inline {
  display: none;
}
/* line 1201, ../sass/dcm2017.scss */
#comments .field-name-field-review-title {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
/* line 1206, ../sass/dcm2017.scss */
#comments .field-name-field-review-title .field-item:before {
  content: open-quote;
}
/* line 1209, ../sass/dcm2017.scss */
#comments .field-name-field-review-title .field-item:after {
  content: close-quote;
}
/* line 1214, ../sass/dcm2017.scss */
#comments h3 {
  margin: 0 0 3px;
}
/* line 1216, ../sass/dcm2017.scss */
#comments h3 .permalink {
  color: #333;
  font-size: 18px;
  font-weight: 500;
}
/* line 1220, ../sass/dcm2017.scss */
#comments h3 .permalink:before {
  content: open-quote;
}
/* line 1223, ../sass/dcm2017.scss */
#comments h3 .permalink:after {
  content: close-quote;
}
/* line 1228, ../sass/dcm2017.scss */
#comments .submitted {
  color: #333;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 11px;
}
/* line 1234, ../sass/dcm2017.scss */
#comments .submitted::before {
  content: "(";
}
/* line 1237, ../sass/dcm2017.scss */
#comments .submitted::after {
  content: ")";
}
/* line 1241, ../sass/dcm2017.scss */
#comments ul.links {
  margin: 5px 0 0;
  padding: 0;
  text-align: right;
}
/* line 1245, ../sass/dcm2017.scss */
#comments ul.links li {
  margin: 0;
  padding: 0 5px;
  text-transform: capitalize;
  display: inline-block;
}

/* line 1253, ../sass/dcm2017.scss */
.field.field-name-field-your-message.field-type-text-long.field-label-hidden {
  font-size: 13px;
  margin: 15px 0 0;
}

/* line 1259, ../sass/dcm2017.scss */
[id^='comment-form'] [id^='edit-author'] .username {
  color: #333;
  font-size: 13px;
}
/* line 1265, ../sass/dcm2017.scss */
[id^='comment-form'] .form-item label {
  color: #333;
  float: left;
  font-weight: 500;
  width: 15%;
}
/* line 1271, ../sass/dcm2017.scss */
[id^='comment-form'] .form-item .form-text {
  height: auto;
  padding: 7px 10px;
  width: 635px;
}
/* line 1276, ../sass/dcm2017.scss */
[id^='comment-form'] .form-item .form-textarea-wrapper {
  width: 83%;
}
/* line 1278, ../sass/dcm2017.scss */
[id^='comment-form'] .form-item .form-textarea-wrapper textarea {
  font-weight: normal;
  min-height: 150px;
  padding: 10px;
  resize: vertical;
  width: 100%;
}
/* line 1289, ../sass/dcm2017.scss */
[id^='comment-form'] .field-name-field-review-title .form-item label {
  margin: 10px 0 0;
}
/* line 1294, ../sass/dcm2017.scss */
[id^='comment-form'] .form-actions.form-wrapper {
  margin-left: 143px;
}
/* line 1297, ../sass/dcm2017.scss */
[id^='comment-form'] .form-submit {
  margin: 0 10px 0 0;
  padding: 5px 20px;
  text-transform: uppercase;
}
/* line 1301, ../sass/dcm2017.scss */
[id^='comment-form'] .form-submit:hover {
  background-color: #cf2122;
}
/* line 1305, ../sass/dcm2017.scss */
[id^='comment-form'] .filter-wrapper {
  display: none;
}
/* line 1308, ../sass/dcm2017.scss */
[id^='comment-form'] [id^='edit-preview'] {
  display: none;
}

/* line 1313, ../sass/dcm2017.scss */
.resizable-textarea .grippie {
  display: none;
}

/* line 1318, ../sass/dcm2017.scss */
#review h2.title {
  font-size: 25px;
  font-weight: 600;
  line-height: 28px;
  margin: 0 0 10px;
}

/* line 1325, ../sass/dcm2017.scss */
.comment-edit {
  border-left: 1px solid #005a8c;
  border-right: 1px solid #005a8c;
}

/* line 1329, ../sass/dcm2017.scss */
.field.field-name-field-rating.field-type-fivestar.field-label-above {
  clear: both;
  display: block;
  margin: 10px 0 0;
}

/* line 1334, ../sass/dcm2017.scss */
.indented {
  margin-left: 25px;
}

/* line 1337, ../sass/dcm2017.scss */
.reviews-back-to-page {
  margin: 20px 0 0;
}
/* line 1339, ../sass/dcm2017.scss */
.reviews-back-to-page a {
  background-color: #e42627;
  border-radius: 5px;
  color: #333;
  display: inline-block;
  padding: 6px 12px;
  text-decoration: none;
  text-transform: none;
}

/* line 1350, ../sass/dcm2017.scss */
.reviews.no-reviews a {
  color: #333;
  text-decoration: underline;
  text-transform: capitalize;
}

/*End Comment form*/
/*maintainace page*/
/* line 1359, ../sass/dcm2017.scss */
body.maintenance-page {
  background-position: 0 0;
}
/* line 1361, ../sass/dcm2017.scss */
body.maintenance-page #header {
  background-color: #fff;
  padding: 0;
}
/* line 1364, ../sass/dcm2017.scss */
body.maintenance-page #header #logo-title {
  margin: 15px auto 0;
  padding: 0;
  text-align: center;
  width: 960px;
}
/* line 1369, ../sass/dcm2017.scss */
body.maintenance-page #header #logo-title img {
  width: 150px;
}
/* line 1374, ../sass/dcm2017.scss */
body.maintenance-page #container {
  margin: 20px auto;
  padding: 50px 20px;
  width: 960px;
  text-align: center;
}
/* line 1379, ../sass/dcm2017.scss */
body.maintenance-page #container #page-title {
  clear: both;
  font-size: 30px;
  line-height: 30px;
  margin: 0 0 20px;
  text-transform: uppercase;
}

/*end maintainace page*/
/*Footer*/
/* line 1391, ../sass/dcm2017.scss */
footer.footer {
  padding: 0;
  border: 0;
  width: 100%;
  max-width: inherit;
}
/* line 1396, ../sass/dcm2017.scss */
footer.footer #dcm2017-footer {
  position: relative;
}
/* line 1398, ../sass/dcm2017.scss */
footer.footer #dcm2017-footer .google-maps {
  height: 200px;
}
/* line 1401, ../sass/dcm2017.scss */
footer.footer #dcm2017-footer .footer-copy {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(42, 169, 222, 0.69);
  padding: 40px 20px 40px 50px;
  height: 100%;
  font-size: 16px;
  line-height: 22px;
  width: 50%;
  color: #fff;
}
/* line 1413, ../sass/dcm2017.scss */
footer.footer #dcm2017-footer .footer-copy a {
  color: #fff;
  text-decoration: underline;
  transition: all 0.3s linear 0s;
}
/* line 1417, ../sass/dcm2017.scss */
footer.footer #dcm2017-footer .footer-copy a:hover {
  color: #333;
}
/* line 1423, ../sass/dcm2017.scss */
footer.footer .dcm2017-footer {
  background-color: #343434;
}
/* line 1425, ../sass/dcm2017.scss */
footer.footer .dcm2017-footer .dcm2017-footer-bottom {
  padding: 15px 0;
  text-align: center;
}
/* line 1428, ../sass/dcm2017.scss */
footer.footer .dcm2017-footer .dcm2017-footer-bottom a {
  color: #fff;
  display: inline-block;
  letter-spacing: 8px;
  text-transform: uppercase;
}

/*End Footer*/
