@media screen and (max-width: 768px) {
/*Main content*/
.main-container {
	width: 100%;
}
/*End Main content*/

/*Footer*/
footer.footer {
	#dcm2017-footer {
		.footer-copy {
			position: absolute;
			right: inherit;
			top: inherit;
			padding: 15px;
			height: 50%;
			font-size: 14px;
			line-height: 16px;
			width: 100%;
			bottom: 0;
		}
	}
}
/*End Footer*/
}

@media screen and (max-width: 320px) {
/*Generic*/
body {
	min-width: 320px;
}
/*End Generic*/
}